
.npm/

# Dependencies
node_modules/
web-build/
web-report/

# Expo
.expo/
.expo-shared/
web-build-report/ 

# Sensitive keys and certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Generated or temporary files
npm-debug.*
*orig.*
*.log

# General (OS, file system)
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# IDE configuration
.idea/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.vscode/
.vscode-test/

# Environment variables
.env

# Yarn  
yarn-error.log
platform-tools-latest-linux.zip
Timeless-Flow.code-workspace
Timeless-Flow.code-workspace/
screens/Timeless-Flow.code-workspace

# Yarn files
.yarn/
.yarnrc

# Logs and temporary files
*.log
